module.exports = {
  twitter: {
    consumer_key: 'Twitter',
    consumer_secret: 'API',
    access_token_key: 'keys',
    access_token_secret: 'go here'
  },
  port: 9000, // socket.io port [default: 8888]
  channel: 'tweets', // socket.io channel [default: 'event']
};
